body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a{
  padding: 20px 10px;
}

@media only screen and (min-width:450px) and (max-width:720px) {
  #basic-navbar-nav{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 20px 50px;
    padding: 20px 20px;

  }
  #basic-navbar-nav NavLink{
    color: blueviolet;
  }

  #menuIcon{
    position: relative;
   left:90%
  }
  #Lbtn{
    display: none;
  }
  
}
